version: '3.8'

services:
  server:
    build: ./
    container_name: server
    ports:
      - "9000:9000"
    depends_on:
      - postgresdb
      - rabbitmq
      - mongodb
    networks:
      - task_manager_server_default
    env_file:
      - .env

  debug:
    image: task_manager_debug
    container_name: task_manager_debug
    build:
      context: .
      dockerfile: Dockerfile.debug
    ports:
      - "9000:9000"
      - "2345:2345"
    depends_on:
      - postgresdb
      - rabbitmq
      - mongodb
    networks:
      - task_manager_server_default
    env_file:
      - .env

  postgresdb:
    build: ./database/
    container_name: task_manager_postgres
    ports:
      - "5437:5432"
    environment:
     - POSTGRES_USER=postgres
     - POSTGRES_PASSWORD=mark
     - POSTGRES_DB=task_service
     - SSL_MODE=disable

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=password
      - BROKER_USERNAME=admin
      - BROKER_PASSWORD=password
      - BROKER_HOST=${BROKER_HOST}
      - BROKER_PORT=${BROKER_PORT}
    networks:
      - task_manager_server_default

  mongodb:
    image: mongo:latest
    container_name: task_manager_mongo
    ports:
      - "27017:27017"
    # logging:
    #   driver: "none"
    command: --authx
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
      - MONGO_INITDB_DATABASE=log_item_data
  

networks:
  task_manager_server_default:
    external: true