version: '3.8'

services:
  server:
    build: ./
    container_name: server
    ports:
      - "9000:9000"
    depends_on:
      - postgresdb
      - rabbitmq
    networks:
      # - task_manager_client_default
      - task_manager_server_default
    env_file:
      - .env

  postgresdb:
    build: ./database/
    container_name: task_manager_postgres
    ports:
      - "5437:5432"
    environment:
     - POSTGRES_USER=postgres
     - POSTGRES_PASSWORD=mark
     - POSTGRES_DB=task_service
     - SSL_MODE=disable

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=password
      - BROKER_USERNAME=admin
      - BROKER_PASSWORD=password
      - BROKER_HOST=${BROKER_HOST}
      - BROKER_PORT=${BROKER_PORT}
    networks:
      # - task_manager_client_default
      - task_manager_server_default
  

networks:
  # task_manager_client_default:
  #   external: true
  task_manager_server_default:
    external: true